#file-zone {
    background-color:#f1f0f0;
    flex-grow: 1;
    display: flex;
    padding: 5px;
}

#file {
    width: 600px;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e4dede;
    user-select: none;
}

.selected {
    background-color: rgba(100, 100, 100, 0.3);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}